    * {
        margin: 0 auto;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        background-color: #101218;
        color: white;
        font-family: Arial, Helvetica, sans-serif;
    }

    h1 {
        font-size: 28px;
        display: inline-block;
        margin-right: 40px;
    }

    .header {
        width: 60%;
        padding: 20px 0;
        margin-top: 50px;
        display: flex;
        align-items: center;
        color: #EEF0FF;
    }

    .header a {
        font-size: 14px;
        border: 1px solid;
        padding: 10px;
        border-radius: 25px;
        color: #ECECEC;
        text-decoration: none;
    }

    .classifica,
    .gols {
        width: 70%;
        margin-top: 20px;
    }

    table {
        width: 100%;
        text-align: center;
        border-collapse: collapse;
    }

    .classifica h2 {
        font-size: 22px;
        font-weight: 400;
        margin-top: 20px;
        margin-bottom: 30px;
    }

    th {
        font-size: 12px;
        font-weight: 400;
        padding: 5px;
        color: #999DA9;
    }

    td {
        border-top: 1px solid;
        padding: 5px;
        color: #BDC1C6;
    }

    .text-left {
        text-align: left;
    }

    .w-10 {
        width: 10px;
    }

    .w-25 {
        width: 25px;
    }

    .classifica img {
        width: 24px;
        height: 24px;
    }

    .result img {
        width: 22px;
        height: 22px;
    }

    .bl-blue {
        border-left: 3px solid #4285f4;
    }

    .bl-orange {
        border-left: 3px solid #FA7B17;
    }

    .gols img {
        width: 42px;
        height: 42px;
        border-radius: 50%;
        border: solid 1px;
    }

    .gols table {
        margin-top: 30px;
    }
    
    .w-100{
        width: 100px;
    }